/* Our custom CSS rules */
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.darkmode {
  background-color: rgb(43, 43, 43);
  /*color: rgb(66, 66, 66);*/
  --text-color-content: rgb(66, 66, 66);
  --text-color-title: rgb(238, 238, 238);
}

a {
  color: var(--text-color-title);
}

.content-link {
  color: var(--text-color-content);
}

#logout-link {
  color: orange;
}

h1, h2, h3, h3, h4, h5, h6 {
  color: var(--text-color-title);
}

label{
  color : var(--text-color-title);
}

/* Adding some textures to the header footers */
.navbar, footer {
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
} 

header {
    color: var(--text-color-title);
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: var(--text-color-title);
    text-align: center;
}

#page-content {
  color: var(--text-color-content);
  width: 80%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 214, 102);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  background: url('../images/ionicon_sunny.svg');
}

input:checked + .slider {
  background-color: rgb(136, 211, 255);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(104, 104, 104);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background: url('../images/ionicon_moon.svg') no-repeat;
  background-size: 24px 24px;
}

.post-content-reduce {
    height:60px;
    line-height:20px; /* Height / no. of lines to display */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--text-color-title);
}

/* for screens with width below and equals to 980px */
@media screen and (max-width: 980px) {
  .collapse {
    font-size: 0.9em;
  }

  .navbar-button {
    padding: 0.33rem 1rem;
  }

  span.nav-item {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 815px) {
  .collapse {
    font-size: 0.7em;
  }

  .navbar-button {
    padding: 0.15rem 0.5rem;
  }

  span.nav-item {
    font-size: 0.7em;
  }
}


/* for screens with width below and equals to 768px */
@media screen and (max-width: 768px) {
  #page-content {
    width: 100%;
  }
}

/* for screens with width below and equals to 404px */
@media screen and (max-width: 404px) {
  .card {
    margin: 0 !important;
  }
}

