/* Our custom CSS rules */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.darkmode {
  background-color: rgb(43, 43, 43);
  color: rgb(66, 66, 66);
}


/* Adding some textures to the header footers */
.navbar, footer {
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");

    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
} 


footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 214, 102);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  background: url('../images/ionicon_sunny.svg');
}

input:checked + .slider {
  background-color: rgb(136, 211, 255);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(104, 104, 104);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background: url('../images/ionicon_moon.svg') no-repeat;
  background-size: 24px 24px;
}