{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
            <div class="card shadow m-5 border-0">
               <h1>About page testing</h1>
            </div>
    </section>
{% endblock %}
