{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
            <div class="card shadow m-5 border-0">
               <h1 class="card-title">Un Bon Blog</h1>
               <h2 class="card-title">But de ce blog</h2>
               <p>Ce blog a été construit dans le but de montrer que l'on peut faire un bon blog avec Symfony
               (d'où le nom).
               </p>
            </div>
    </section>
{% endblock %}
