
{% extends 'base.html.twig' %}

{% block body %}
    <section class="content">
        {% for post in posts %}
            <div class="card shadow-sm m-5 border-0 mx-auto" style="width: 80%;">
                <img class="card-img-top" src="https://source.unsplash.com/random/800x150" alt="Card image cap">
                <div class="card-body pl-3 pr-3">
                    <h5 class="card-title">Article du blog</h5>
                    <p class="card-text">{{ post }}</p>
                    <a href="#" class="btn btn-primary">Lire</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
